@{
    ViewBag.Title = "BookDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BookManagement.Models
@model Book

<div class="product-content-right">
    <div class="row">
        <div class="col-sm-6">
            <div class="product-images">
                <div class="product-main-img">
                    <img src="@Url.Content("~/Content/Img/Books/" + Model.Img_Link)" alt="@Model.Name">
                </div>

                <div class="product-gallery">
                    <img src="@Url.Content("~/Content/Img/Books/" + Model.Img_Link)" alt="">
                    <img src="@Url.Content("~/Content/Img/Books/" + Model.Img_Link)" alt="">
                    <img src="@Url.Content("~/Content/Img/Books/" + Model.Img_Link)" alt="">
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="product-inner">
                <h2 class="product-name">@Model.Name</h2>
                <div class="product-inner-price">
                    <ins>@Model.Price</ins> @*<del>$100.00</del>*@
                </div>

                <form action="" class="cart">
                    <div class="quantity">
                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                    </div>
                    <button class="add_to_cart_button" type="submit">Add to cart</button>
                </form>

                <div class="product-inner-category">
                    <p>Category: <a href="">@Model.Genre.Name</a>. 
                </div>
                <div class="product-inner-category">
                    <p>Category: <a href="@Url.Action("ListBookByAuthor", "Home", new { @authorID = Model.AuthorID})">@Model.Author.Name</a>.
                </div>
                <div role="tabpanel">
                    <ul class="product-tab" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                            <h2>Product Description</h2>
                            <p>@Model.Description</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">
                            <h2>Reviews</h2>
                            <div class="submit-review">
                                <p><label for="name">Name</label> <input name="name" type="text"></p>
                                <p><label for="email">Email</label> <input name="email" type="email"></p>
                                <div class="rating-chooser">
                                    <p>Your rating</p>

                                    <div class="rating-wrap-post">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                <p><input type="submit" value="Submit"></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="related-products-wrapper">
        <h2 class="related-products-title">Other books of @Model.Author.Name</h2>
        <div class="related-products-carousel">
            @*@Html.Action("FindBookByAuthor", "Home", new{ @authorID = Model.AuthorID})*@           
        </div>
    </div>
</div>
